<div class="content">
    <header>
        <div class="main">
            <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </div>
        <nav>
            {{ range .Site.Menus.main }}
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}

            <a href="https://functional.blog" target="_blank">Blog</a>
            |
            <a href="https://github.com/yatta-lang/yatta" target="_blank">Github</a>
            |
            <a href="https://gitter.im/yattalang/community" target="_blank">Chat</a>
            |
            <a href="/docs/">Documentation</a>
        </nav>
    </header>
